#hidden-all,
#do-hidden-all {
    position: fixed;
    bottom: 20%;
    left: 50px;
    width: 66px;
    height: 30px;
    line-height: 30px;
    background-color: blueviolet;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    color: #ffffff;
}

#do-hidden-all {
    bottom: 25%;
}